@import '/css/grid.less';

@columns: 12;
@column-width: 60;
@gutter-width: 20;

/* mixins */
.rounded-corners (@radius: 5px) {
    border-radius: @radius;
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
}
.non-selectable() {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

/* form */
button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
    font-family: Georgia, sans-serif;
    font-size: 20px;
}
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
    font-family: Georgia, sans-serif;
    font-size: 20px;
}

/* global */
.center() {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}
div.center {
    .center();
}
.clear {
    clear: both;
}

body {
    font-family: Georgia, sans-serif;
    font-size: 25px;
    text-shadow: gray 0 1px 1px;
}
h1 {
    font-size: 40px;
}
p {
    margin: 20px 0px;
}

/* header */
#header {
    div div {
        .column(12);
        padding: 10px 0px;
    }
    box-shadow: 0 3px 5px #CCC;
    background-color: #191919;
    color: white;
    width: 100%;
}

/* footer */
#footer {
    .column(12);
    font-size: 12px;
    color: rgb(160, 160, 160);
    text-shadow: rgb(230, 230, 230) 0 1px 1px;
}

/* home */
#home {
    .column(12);
    input { width: 400px; }
    padding-bottom: 10px;
}

/* home-to-lobby */
#loading {
    padding: 10px;
    text-align: center;
}
div.spinner {
    padding: 10px;
    height: 20px;
    margin-bottom: 15px;
}

/* lobby */
#lobby {
    .column(12);
    #share_link {
        width: 920px;
        margin: 0 10px;
    }
    .players {
        width: 100%;
        .ready, .kick {
            width: 25%;
        }
    }
}

/* game */
.card {
    .non-selectable();
    background: url(/assets/card.png);
    height: 195px;
    width: 140px;
    .title {
        position: absolute;
        margin: 15px 0px 0px 20px;
        font-size: 10px;
    }
    .desc {
        position: absolute;
        margin: 50px 20px 20px 20px;
        font-size: 10px;
    }
}
#game {
    .column(12);
    #my_cards {
        .row(12);
        li {
            .column(2);
            background: url(/assets/card_outline.png);
            height: 195px;
        }
    }
}
#board {
    width: 900px;
    height: 450px;
    border: 5px solid hotpink;
    .floor {
        background: url(/assets/tiles/floor.png);
        width: 900px;
        height: 450px;
    }
    div {
        position: absolute;
    }
    div div {
        position: absolute;
        width: 45px;
        height: 45px;
        background-color: grey;
    }
}
