@import '/css/grid.less';

@columns: 12;
@column-width: 60;
@gutter-width: 20;

/* mixins */
.rounded-corners (@radius: 5px) {
    border-radius: @radius;
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
}
.non-selectable() {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}


/* global */
div.center {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

body {
    font-family: Georgia, sans-serif;
    font-size: 25px;
}
h1 {
    font-size: 40px;
}
p {
    margin: 10px 0px;
}

/* header */
#header {
    .column(12);
}

/* login */
#login {
    .column(12);
}
#login label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}
#login input {
    width: 200px;
}
#login button {
    display: block;
    margin-top: 10px;
}

/* game */
.card {
    .non-selectable();
    background: url(/assets/card.png);
    height: 195px;
    width: 140px;
    .title {
        position: absolute;
        margin: 15px 0px 0px 20px;
        font-size: 10px;
    }
    .desc {
        position: absolute;
        margin: 50px 20px 20px 20px;
        font-size: 10px;
    }
}
#game {
    .column(12);
    #my_cards {
        .row(12);
        li {
            .column(2);
            background: url(/assets/card_outline.png);
            height: 195px;
        }
    }
}
#board {
    height: 450px;
    div {
        position: absolute;
        width: 43px; /* subtraced 2px for temp border */
        height: 43px;
        background-color: grey;
        border: 1px solid black;
    }
}
